body {
    background-color: rgb(220, 245, 220);
    color: rgb(72, 128, 26);
    line-height: 2.0;


}

h1 {
    border: double;
    text-align: center;
}

p {
    text-align: center;
    font-style: Arial;
}

a {
    color: rgb(72, 128, 26);
    text-align: center;

}